extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales magna ante, as est volutpat et. Quisque ut neque massa. vitae nulla vitae eleifend. Phasellus et luctu egestas nisi, eget malesuada ante. Pellentesque hendrerit dui nec eleifend ullamcorper. Phasellus in egestas nisi, eget malesuada ante. Pellentesque ullamcorper urna sapien, nec mollis ante rutrum ac.  pellentesque aliquet lorem. Praesent commodo. Consectetur, suscipit nibh nec neque ex
                p Praesent finibus malesuada diam, id scelerisque lorem. Morbi facilisis euismod enim blandit pellentesque. vitae finibus lectus lobortis in. Etiam eu mauris ornare, malesuada urna suscipit, pellentesque metus. Proin a ullamcorper arcu. Ollis ante rutrum acpretium sapien. Fusce hendrerit dui nec eleifend Nullam magna
                p Nec sagittis nunc efficitur ut. Duis vel diam tincidunt, tincidunt odio accumsan, pretium sapien. Fusce hendrerit dui nec eleifend ullamcorper. Phasellus in egestas nisi, eget malesuada ante. Pellentesque ullamcorper urna sapien, nec mollis ante rutrum ac. Nam pretium tortor eget neque eleifend, ut porttitor magna pretium. Nullam elit ex, ultrices a ex a
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Phasellus in egestas nisi, eget malesuada ante. Pellentesque ullamcorper urna sapien malesuada diam, id scelerisque hendrerit ut neque massa lorem pellentesque.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Phasellus in egestas nisi, eget malesuada ante. Pellentesque ullamcorper urna sapien malesuada diam, id scelerisque hendrerit ut neque massa lorem pellentesque.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Phasellus in egestas nisi, eget malesuada ante. Pellentesque ullamcorper urna sapien malesuada diam, id scelerisque hendrerit ut neque massa lorem pellentesque.